<form>
    <div class="mb-3">
        <label for="userTypeId" class="form-label">Tipo de Usuário</label>
        <input type="text" class="form-control" name="userTypeId" [(ngModel)]="userTypeId"
        *ngIf="user.id!=0" disabled>
        <select name="userTypeId" id="useTypeId" class="form-control"
        [(ngModel)]="userTypeId" *ngIf="user.id==0">
        <option *ngFor="let type of userTypesList$|async"
        [value]="type.id">
            {{type.usersName}}
        </option>
        </select>
    </div>
    <div class="mb-3" [formGroup]="usersForm">
        <label class="form-label">Nome *</label>
        <input 
            type="text"
            class="form-control"
            [(ngModel)]="firstName"
            name="firstName"
            placeholder="Seu primeiro nome"
            formControlName="firstname">
        <span 
            class="error"
            *ngIf="firstname?.invalid && firstname?.touched">
            O nome é obrigatório
        </span>
    </div>
    <div class="mb-3" [formGroup]="usersForm">
        <label  class="form-label">Sobrenome *</label>
        <input 
            type="text" 
            class="form-control" 
            [(ngModel)]="lastName" 
            name="lastName" 
            placeholder="Seu segundo nome" 
            formControlName="lastname">
        <span 
            class="error"
            *ngIf="lastname?.invalid && lastname?.touched">
            O sobrenome é obrigatório
        </span>
    </div>
    <div class="mb-3" [formGroup]="usersForm">
        <label  class="form-label">Email *</label>
        <input 
            email="true"
            class="form-control"
            [(ngModel)]="emailUser"
            name="emailUser"
            formControlName="email"
            placeholder="seu@melhoremail.com.br">
            
        <span 
        class="error"
        *ngIf="email?.invalid && email?.touched">
            Digite um email válido!
        </span>
    </div>
    <div class="mb-3" [formGroup]="usersForm">
        <label  class="form-label">Data de nascimento *</label>
        <input 
            type="date"
            class="form-control"
            [(ngModel)]="birthDate"
            name="birthDate"
            formControlName="birthdate">
        <span 
        class="error"
        *ngIf="birthdate?.invalid && birthdate?.touched">
            Você deve selecionar a data!
        </span>
    </div>
    <div class="mb-3" >
        <label  class="form-label">Escolaridade *</label>
        <select 
        name="levelOfSchooling"
        id="levelOfSchooling"
        class="form-control"
        [(ngModel)]="levelOfSchooling"
        formControlName="levelOfSchooling">
        <option [value]="1">
            Ensino infantil
        </option>
        <option [value]="2">
            Ensino fundamental
        </option>
        <option [value]="3">
            Ensino médio
        </option>
        <option [value]="4">
            Ensino superior
        </option>
        </select>
        <span 
        class="error"
        *ngIf="email?.invalid && email?.touched">
            Selecione uma escolaridade!
        </span>
    </div>

    <button (click)="addUser()" *ngIf="user.id==0" class="btn btn-primary">
        Criar
    </button>
    <button (click)="updateUser()" *ngIf="user.id!=0" class="btn btn-primary">
        Atualizar
    </button>
</form>
