#addSuccessAlert,
#updateSuccessAlert,
#deleteSuccessAlert{
    display: none;
}

#addSuccessAlert,
#updateSuccessAlert,
#deleteSuccessAlert{
    animation-name: fadeInAndOut;
    animation-duration: 4s;
}

@-webkit-keyframes fadeInAndOut{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInAndOut{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}