  
  <!-- Button create user modal -->
  <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#staticBackdrop" (click)="modalAdd()">
    Cadastrar usuário
  </button>
    <!-- Button show type users modal -->
  <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#typesUserModal">
      Tipos de usuário
  </button>

  <!-- Alerts -->
  <div class="alert alert-success" role="alert" id="addSuccessAlert">
    Usuário cadastrado com éxito!
  </div>

  <div class="alert alert-success" role="alert" id="updateSuccessAlert">
    Usuário atualizado com éxito!
  </div>

  <div class="alert alert-success" role="alert" id="deleteSuccessAlert">
    Usuário deletado com éxito!
  </div>

  <table class="table table-striped">
      <thead>
          <th>Id</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Email</th>
          <th>Data de Nascimento</th>
          <th>Escolaridade</th>
          <th>Ações</th>
      </thead>
      <tbody>
          <tr *ngFor="let item of userList$|async">
              <td>{{item.id}}</td>
              <td>{{item.firstName}}</td>
              <td>{{item.lastName}}</td>
              <td>{{item.emailUser}}</td>
              <td>{{item.birthDate}}</td>
              <td>{{item.levelOfSchooling}}</td>
              <td>
                <button class="btn btn-outline-primary"
                (click)="modalEdit(item)" data-toggle="modal" data-target="#staticBackdrop">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg> 
                </button>
              </td>
              <td>
                <button class="btn btn-outline-danger" (click)="delete(item)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                </button>
              </td>
          </tr>
      </tbody>
  </table>
  
  <!-- Modal -->
  <div class="modal fade" id="typesUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tipos de usuários</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p *ngFor="let type of userTypesList$ | async">{{type.id}} - {{type.usersName}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Create/Update User Modal -->
  <div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="modalClose()" id="ManageModalClose">
          </button>
        </div>
        <div class="modal-body">
          <app-manage-users [user]="user" *ngIf="activateAddEditUserComponent"></app-manage-users>
        </div>
      </div>
    </div>
  </div>
  
  
